[submodule "themes/ezhil"]
	path = themes/ezhil
	url = https://github.com/vividvilla/ezhil.git
[submodule "themes/notepadium"]
	path = themes/notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
